canvas {
    border: 3px solid gray;
    z-index: 1;
    width: 700;
    height: 600;
    position: relative;
}
#scores-wrap {
    z-index: 2; 
    /*background: white;*/
    /*color: black;*/
    width: 500;
    height: 400;
    /* use margin to center manually */
    /* add in border width */
    margin-left: 103 px;
    margin-top: 83 px;
    position: absolute;
    /* start hidden */
    display: none;
}
#scores {
    height: 430;
}
table.score-table {
    border-collapse: collapse;
    width: 100%;
    background: black;
    color: white;
    /*padding: 0.2em;*/
}
.score-table, .score-table tr, .score-table td {
    /*color: black;*/
    border: 2px solid #666;
    font-size: 14;
    text-align: right;
}
.score-table th {
    font-size: 16;
    text-align: center;
    color: #000;
    background: #fff;
    border: 2px solid #666;
    border-top: 5px solid #666;
}
.score-table th, .score-table tr, .score-table td {
    padding: 0.2em 0.4em;
}
.Score-header {
    width: 120;
}
.Name-header {
    width: 140;
}
.Level-header {
    width: 50;
}
.Date-header {
    width: 100;
}
